<!DOCTYPE html>
<html>
<head>
    <title>Show the weather in Oostduinkerke (Koksijde), Belgium</title>
    <link rel="shortcut icon" href="http://christianv.github.com/weathery/favicon.ico">

    <!-- META -->
    <meta http-equiv="cache-control" content="no-cache">
    <meta name="keywords" content="koksijde,oostduinkerke,weer,weather">
    <meta name="description" content="Show the latest weather information in Oostduinkerke (Koksijde)">

    <!-- CSS -->
    <link rel="stylesheet" href="css/weathery.css" type="text/css" media="screen" title="Main CSS Stylesheet" charset="utf-8">

    <!-- JavaScript -->
    <script type="text/javascript" charset="utf-8" src="https://ajax.googleapis.com/ajax/libs/jquery/1.4.4/jquery.min.js"></script>
    <script type="text/javascript" charset="utf-8" src="https://github.com/carhartl/jquery-cookie/raw/master/jquery.cookie.js"></script>
    <script type="text/javascript" charset="utf-8" src="https://github.com/jamespadolsey/jQuery-Plugins/raw/master/cross-domain-ajax/jquery.xdomainajax.js"></script>
    <script type="text/javascript" charset="utf-8" src="http://ajax.microsoft.com/ajax/jquery.templates/beta1/jquery.tmpl.js"></script>

    <script type="text/javascript">

      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-190225-5']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();

    </script>

</head>
<body class="bodycolor">
    <h1 id="title">Weather conditions in Oostduinkerke (Koksijde), Belgium</h1>

    <script id="standardWidgetTemplate" type="text/x-jquery-tmpl">
        <div class="weathery-widget" id="${data.id}">

        </div>
    </script>

    <script id="googleWidgetTemplate" type="text/x-jquery-tmpl">
        <h2>${name}</h2>
        <div class="weathery-${id}-condition">
            <h3>Current conditions</h3>
            <ul>
                <li><img src="${base_img_url}${data.current_conditions.icon.data}" /></b></li>
                <li>Condition: <b>${data.current_conditions.condition.data}</b></li>
                <li>Humidity: <b>${data.current_conditions.humidity.data}</b></li>
                <li>Temperature: <b>${data.current_conditions.temp_c.data}&#176;C </b></li>
                <li>Wind: <b>${data.current_conditions.wind_condition.data}</b></li>
            </ul>
        </div>
        <div class="weathery-${id}-condition">
            <h3>Forecast conditions</h3>
            {{each data.forecast_conditions}}
                <p>
                    <img src="${base_img_url}${$value.icon.data}" /><br />
                    ${$value.day_of_week.data} <br />
                    ${$value.low.data}&#176;C  | ${$value.high.data}&#176;C
                </p>
            {{/each}}
        </div>
    </script>

    <script id="wundergroundWidgetTemplate" type="text/x-jquery-tmpl">
        <h2>${name}</h2>
        <div class="weathery-${id}-condition">
            <h3>Current conditions</h3>
            <ul>
                <li><img src="${data0.icons.icon_set[data0.icons.icon_set.length-1].icon_url}" alt="${data0.weather}" /></b></li>
                <li>Condition: <b>${data0.weather}</b></li>
                <li>Humidity: <b>${data0.relative_humidity}</b></li>
                <li>Temperature: <b>${data0.temp_c}&#176;C </b></li>
                <li>Wind: <b>From ${data0.wind_dir} at ${data0.wind_kmph} km/h</b></li>
                <li>Visibility: <b>${data0.visibility_km} km</b></li>
            </ul>
        </div>
        <div class="weathery-${id}-condition">
            <h3>Forecast conditions</h3>
            {{each data1.forecastday}}
                <p>
                    <img src="${icons.icon_set[icons.icon_set.length-1].icon_url}" /><br />
                    ${$value.date.weekday} <br />
                    ${$value.low.celsius}&#176;C  | ${$value.high.celsius}&#176;C
                </p>
            {{/each}}
        </div>
    </script>

    <script id="mummtidesWidgetTemplate" type="text/x-jquery-tmpl">
        <h2>${name}</h2>
        <div>
            <ul>
            {{each data.channel.item}}
                <li>
                    ${$value.title}
                    ${$("<div/>").html($value.description).html()}
                </li>
            {{/each}}
            </ul>
        </div>
    </script>

    <script id="meteouvWidgetTemplate" type="text/x-jquery-tmpl">
        <h2>${name}</h2>
        <div>
            <ul id="weathery-${id}-images">
            {{each data}}
                <li>
                    <img src="${$value}" {{if $index !== 0}} style="display:none;"{{/if}} />
                </li>
            {{/each}}
            </ul>
            <ul id="weathery-${id}-links">
            {{each data}}
                <li>
                    <a href="javascript:;">${$index + 1}</a>
                </li>
            {{/each}}
            </ul>
        </div>
    </script>


    <script id="selectContainerTemplate" type="text/x-jquery-tmpl">
        <li{{if loaded}} class="selectContainer_loaded"{{/if}} id="selectContainer_item_${id}">
            <a href="javascript:;">
                ${name}
            </a>
        </li>
    </script>

    <div id="selectContainer">
        <a href="javascript:;">
           Choose Items
        </a>
        <ul>
            &nbsp;
        </ul>
    </div>

    <div id="container">
        &nbsp;
    </div>

    <script type="text/javascript" charset="utf-8" src="javascript/weathery.utils.js"></script>
    <script type="text/javascript" charset="utf-8" src="javascript/weathery.js"></script>

    <script type="text/javascript"><!--
        google_ad_client = "ca-pub-1260614975317936";
        google_ad_slot = "0702958328";
        google_ad_width = 728;
        google_ad_height = 15;
    //-->
    </script>
    <script type="text/javascript" src="http://pagead2.googlesyndication.com/pagead/show_ads.js">
    </script>
</body>
</html>